<%- include('./header'); %>

  <h2 class="txt_heading">Edit Student</h2>
  <form action="/students/<%= student._id %>?_method=PUT" method="post" enctype="multipart/form-data" class="form">

    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input class="form-control" type="text" id="name" name="name" value="<%= student.name %>" required>
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">Age:</label>
      <input class="form-control" type="number" id="age" name="age" value="<%= student.age %>" required>
    </div>

    <div class="mb-3">
      <label for="father_name" class="form-label">Father's Name:</label>
      <input class="form-control" type="text" id="father_name" name="father_name" value="<%= student.father_name %>" required>
    </div>

    <div class="mb-3">
      <label for="gender" class="form-label">Gender:</label>
      <select class="form-select" id="gender" name="gender" required>
        <option value="Male" <%= student.gender === 'Male' ? 'selected' : '' %>>Male</option>
        <option value="Female" <%= student.gender === 'Female' ? 'selected' : '' %>>Female</option>
        <option value="Other" <%= student.gender === 'Other' ? 'selected' : '' %>>Other</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image:</label>
      <input class="form-control" type="file" id="image" name="image" accept="image/*" required>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>

<%- include('./footer'); %>
